<!-- build:include layout/header.html --><!-- /build -->

<div class="header-page">
    <div class="container">
        <h2 class="header-title">Blog</h2>

        <ol class="breadcrumb">
            <li><a href="#">Inicio</a></li>
            <li class="active">Blog</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-white">
                <div class="blog-post">
                    <div class="row">
                        <div class="post-img col-xs-4">
                            <img src="<%= assets %>/img/e200.png" class="img-responsive" alt="">
                        </div>
                        <div class="post-content col-xs-8">
                            <h3 class="post-title"><a href="#">Nuestro libro: Desarrollo web frontend profesional</a></h3>
                            <p>Nullam pellentesque urna a erat rhoncus faucibus. Vivamus sit amet eros maximus rutrum urna tincidunt egestas tellus sociis natoque.</p>
                        </div>
                        <div class="col-lg-8 col-xs-12">
                            <div class="post-info row">
                                <div class="col-xs-4 col-xxs-12">
                                    <div class="post-date"><i class="fa fa-clock-o"></i> 28 / 10 / 2015</div>
                                </div>
                                <div class="col-xs-4 col-xxs-12">
                                    <a href="#" class="btn btn-block btn-info post-category">General</a>
                                </div>
                                <div class="col-xs-4 col-xxs-12">
                                    <a href="#" class="btn btn-primary btn-block post-readmore">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-post">
                    <div class="row">
                        <div class="post-img col-xs-4">
                            <img src="<%= assets %>/img/e200.png" class="img-responsive" alt="">
                        </div>
                        <div class="post-content col-xs-8">
                            <h3 class="post-title"><a href="#">Creando una estructura de ficheros para desarrollo frontend</a></h3>
                            <p>Nullam pellentesque urna a erat rhoncus faucibus. Vivamus sit amet eros maximus rutrum urna tincidunt egestas tellus sociis natoque.</p>
                        </div>
                        <div class="col-lg-8 col-xs-12">
                            <div class="post-info row">
                                <div class="col-xs-4 col-xxs-12">
                                    <div class="post-date"><i class="fa fa-clock-o"></i> 28 / 10 / 2015</div>
                                </div>
                                <div class="col-xs-4 col-xxs-12">
                                    <a href="#" class="btn btn-block btn-success post-category">Programación</a>
                                </div>
                                <div class="col-xs-4 col-xxs-12">
                                    <a href="#" class="btn btn-primary btn-block post-readmore">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-post">
                    <div class="row">
                        <div class="post-img col-xs-4">
                            <img src="<%= assets %>/img/e200.png" class="img-responsive" alt="">
                        </div>
                        <div class="post-content col-xs-8">
                            <h3 class="post-title"><a href="#">Creando una estructura de ficheros para desarrollo frontend</a></h3>
                            <p>Nullam pellentesque urna a erat rhoncus faucibus. Vivamus sit amet eros maximus rutrum urna tincidunt egestas tellus sociis natoque.</p>
                        </div>
                        <div class="col-lg-8 col-xs-12">
                            <div class="post-info row">
                                <div class="col-xs-4 col-xxs-12">
                                    <div class="post-date"><i class="fa fa-clock-o"></i> 28 / 10 / 2015</div>
                                </div>
                                <div class="col-xs-4 col-xxs-12">
                                    <a href="#" class="btn btn-block btn-royal post-category">Diseño</a>
                                </div>
                                <div class="col-xs-4 col-xxs-12">
                                    <a href="#" class="btn btn-primary btn-block post-readmore">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-post">
                    <div class="row">
                        <div class="post-img col-xs-4">
                            <img src="<%= assets %>/img/e200.png" class="img-responsive" alt="">
                        </div>
                        <div class="post-content col-xs-8">
                            <h3 class="post-title"><a href="#">10 Sitios que todo desarrollador de videojuegos debería conocer</a></h3>
                            <p>Nullam pellentesque urna a erat rhoncus faucibus. Vivamus sit amet eros maximus rutrum urna tincidunt egestas tellus sociis natoque.</p>
                        </div>
                        <div class="col-lg-8 col-xs-12">
                            <div class="post-info row">
                                <div class="col-xs-4 col-xxs-12">
                                    <div class="post-date"><i class="fa fa-clock-o"></i> 28 / 10 / 2015</div>
                                </div>
                                <div class="col-xs-4 col-xxs-12">
                                    <a href="#" class="btn btn-block btn-warning post-category">Recursos</a>
                                </div>
                                <div class="col-xs-4 col-xxs-12">
                                    <a href="#" class="btn btn-primary btn-block post-readmore">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-post">
                    <div class="row">
                        <div class="post-img col-xs-4">
                            <img src="<%= assets %>/img/e200.png" class="img-responsive" alt="">
                        </div>
                        <div class="post-content col-xs-8">
                            <h3 class="post-title"><a href="#">¡Hola Mundo!</a></h3>
                            <p>Nullam pellentesque urna a erat rhoncus faucibus. Vivamus sit amet eros maximus rutrum urna tincidunt egestas tellus sociis natoque.</p>
                        </div>
                        <div class="col-lg-8 col-xs-12">
                            <div class="post-info row">
                                <div class="col-xs-4 col-xxs-12">
                                    <div class="post-date"><i class="fa fa-clock-o"></i> 28 / 10 / 2015</div>
                                </div>
                                <div class="col-xs-4 col-xxs-12">
                                    <a href="#" class="btn btn-block btn-success post-category">Programación</a>
                                </div>
                                <div class="col-xs-4 col-xxs-12">
                                    <a href="#" class="btn btn-primary btn-block post-readmore">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div> <!-- col-md-8 -->
        <div class="col-md-4">
            <!-- build:include sidebar.html --><!-- /build -->
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
