<!-- build:include layout/header.html --><!-- /build -->

<header class="ag-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="title wow fadeInDown animation-delay-4">Desarrollo web frontend profesional</h3>
                <h4 class="text-center color-danger wow fadeInDown animation-delay-2">¡Conviértete en un profesional del desarrollo web!</h4>
                <ul class="ag-hero-list">
                    <li class="wow fadeInRight animation-delay-6">Aprende a utilizar las mejores herramientas para desarrollo web.</li>
                    <li class="wow fadeInRight animation-delay-8">Conoce los método para estructurar mejor tu proyecto.</li>
                    <li class="wow fadeInRight animation-delay-10">Agiliza tu trabajando automatizando tareas con <strong class="color-danger">Gulp</strong>.</li>
                    <li class="wow fadeInRight animation-delay-12">Aprende a usar <strong class="color-success">NodeJS</strong>, <strong class="color-warning">Bower</strong> y  <strong class="color-royal">Gulp</strong> para el desarrollo frontend.</li>
                </ul>
                <div class="ag-hero-buttons wow fadeInUp animation-delay-14">
                    <a href="" class="btn btn-md btn-primary"><i class="fa fa-info"></i> Más información</a>
                    <a href="https://sellfy.com/p/UB4y/" id="UB4y" class="sellfy-buy-button">Buy now</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ag-hero-img">
                    <img src="<%= assets %>/img/portada_libro.png" alt="" class="img-responsive book wow fadeInUp animation-delay-18 wow-slow">
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</header>

<div class="relative">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-4 wow fadeInDown">
                <h2 class="agm-subtitle title-small">Desarrollamos su web</h2>
                <h3 class="color-primary">Cree con nosotros su nuevo sitio web</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow zoomIn animation-delay-5">
                    <span class="agm-icon agm-icon-lg"><i class="fa fa-html5"></i></span>
                    <div class="text-icon-content">
                        <h3 class="text-icon-title">HTML5 &amp; CSS3</h3>
                        <p>Desarrollamos nuestros sitios con la últimas tecnologías de desarrollo web para que sus proyectos estén siempre a la vanguardia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow zoomIn animation-delay-5">
                    <span class="agm-icon agm-icon-lg"><i class="fa fa-search"></i></span>
                    <div class="text-icon-content">
                        <h3 class="text-icon-title">Especialistas en SEO</h3>
                        <p>Nos aseguramos de aplicar las mejores técnicas de SEO para que su sitio aparezca en las primeras posiciones de los buscadores.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow zoomIn animation-delay-5">
                    <span class="agm-icon agm-icon-lg"><i class="fa fa-tablet"></i></span>
                    <div class="text-icon-content">
                        <h3 class="text-icon-title">Responsive Design</h3>
                        <p>Todos nuestros sitios son creados para ser visualizados correctamente en todo tipo de dispositivos ya sean móviles, tablets o PC.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow zoomIn animation-delay-5">
                    <span class="agm-icon agm-icon-lg"><i class="fa fa-wordpress"></i></span>
                    <div class="text-icon-content">
                        <h3 class="text-icon-title">Expertos en Wordpress</h3>
                        <p>Desarrollamos aplicaciones completas sobre la plataforma Wordpress, para que usted solo se preocupe de publicar su contenido.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow zoomIn animation-delay-5">
                    <span class="agm-icon agm-icon-lg"><i class="fa fa-paper-plane-o"></i></span>
                    <div class="text-icon-content">
                        <h3 class="text-icon-title">Entrega a tiempo</h3>
                        <p>Nos compretemos siempre a respetar todos los plazos de entregas acordados, sabemos que nuestros clientes quieren las cosas a tiempo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow zoomIn animation-delay-5">
                    <span class="agm-icon agm-icon-lg"><i class="fa fa-user"></i></span>
                    <div class="text-icon-content">
                        <h3 class="text-icon-title">Servicio Personalizado</h3>
                        <p>Sabemos que cada cliente requiere una solución personalizada, por eso siempre estudiamos la mejor solución para usted.</p>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="center-block text-center mb-4 call-action-buttons wow fadeInUp">
                <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-space-shuttle" aria-hidden="true"></i> Tengo una propuesta</a>
                <a href="#" class="btn btn-danger btn-lg"><i class="fa fa-desktop" aria-hidden="true"></i> Ver nuestro portafolio</a>
            </div>
        </div>
    </div> <!-- container -->

    <div class="wrap-projects">
        <div class="wrap-primary-dark">
            <div class="container">
                <h2 class="home-portfolio-title wow fadeInDown animation-delay-2">Nuestros últimos proyectos</h2>
                <div class="row home-portfolio">
                    <div class="col-md-4">
                        <div class="home-portfolio-item wow zoomInLeft animation-delay-6">
                            <a href="#" class="thumbnail">
                                <img src="<%= assets %>/img/w2.png" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="home-portfolio-item wow zoomIn animation-delay-4">
                            <a href="#" class="thumbnail">
                                <img src="<%= assets %>/img/w1.png" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="home-portfolio-item wow zoomInRight animation-delay-6">
                            <a href="#" class="thumbnail">
                                <img src="<%= assets %>/img/w3.png" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center mt-3">
                        <a href="#" class="btn btn-royal btn-lg m-1 wow fadeInLeft animation-delay-12"><i class="fa fa-desktop" aria-hidden="true"></i> Todo nuestro portafolio</a>
                        <a href="#" class="btn btn-info btn-lg m-1 wow fadeInRight animation-delay-12"><i class="fa fa-bold" aria-hidden="true"></i> Perfil en WrapBootstrap</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- relative -->

<div class="container">
    <h2 class="color-primary mb-4 text-center wow fadeInDown">Últimos artículos en el blog</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="home-post wow zoomIn animation-delay-2">
                <div class="home-post-img">
                    <img src="<%= assets %>/img/avatar200.jpeg" class="img-responsive" alt="">
                </div>
                <div class="home-post-content">
                    <h3 class="home-post-content-title"><a href="#">Creando una estructura de ficheros para desarrollo frontend</a></h3>
                    <p>Nullam pellentesque urna a erat rhoncus faucibus. Vivamus sit amet eros maximus rutrum urna tincidunt egestas tellus sociis natoque.</p>
                    <div class="home-post-content-info">
                        <span class="home-post-content-info-category programacion"><a href="#">Programación</a></span>
                        <span class="home-post-content-info-date"><i class="fa fa-clock-o"></i> 19/05/2016</span>
                        <span class="home-post-content-info-readmore"><a href="#">Leer más &raquo;</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="home-post wow zoomIn animation-delay-2">
                <div class="home-post-img">
                    <img src="<%= assets %>/img/avatar200.jpeg" class="img-responsive" alt="">
                </div>
                <div class="home-post-content">
                    <h3 class="home-post-content-title"><a href="#">Creando una estructura de ficheros para desarrollo frontend</a></h3>
                   <p>Nullam pellentesque urna a erat rhoncus faucibus. Vivamus sit amet eros maximus rutrum urna tincidunt egestas tellus sociis natoque.</p>
                   <div class="home-post-content-info">
                       <span class="home-post-content-info-category general"><a href="#">General</a></span>
                       <span class="home-post-content-info-date"><i class="fa fa-clock-o"></i> 19/05/2016</span>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="home-post wow zoomIn animation-delay-2">
                <div class="home-post-img">
                    <img src="<%= assets %>/img/avatar200.jpeg" class="img-responsive" alt="">
                </div>
                <div class="home-post-content">
                    <h3 class="home-post-content-title"><a href="#">Creando una estructura de ficheros para desarrollo frontend</a></h3>
                   <p>Nullam pellentesque urna a erat rhoncus faucibus. Vivamus sit amet eros maximus rutrum urna tincidunt egestas tellus sociis natoque.</p>
                   <div class="home-post-content-info">
                       <span class="home-post-content-info-category recursos"><a href="#">Recursos</a></span>
                       <span class="home-post-content-info-date"><i class="fa fa-clock-o"></i> 19/05/2016</span>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="home-post wow zoomIn animation-delay-2">
                <div class="home-post-img">
                    <img src="<%= assets %>/img/avatar200.jpeg" class="img-responsive" alt="">
                </div>
                <div class="home-post-content">
                    <h3 class="home-post-content-title"><a href="#">Creando una estructura de ficheros para desarrollo frontend</a></h3>
                   <p>Nullam pellentesque urna a erat rhoncus faucibus. Vivamus sit amet eros maximus rutrum urna tincidunt egestas tellus sociis natoque.</p>
                   <div class="home-post-content-info">
                       <span class="home-post-content-info-category diseno"><a href="#">Diseño</a></span>
                       <span class="home-post-content-info-date"><i class="fa fa-clock-o"></i> 19/05/2016</span>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
