<!-- build:include layout/header.html --><!-- /build -->

<div class="header-page">
    <div class="container">
        <h2 class="header-title">Portafolio</h2>

        <ol class="breadcrumb">
            <li><a href="#">Inicio</a></li>
            <li class="active">Portafolio</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="portfolio-item">
                <div class="portfolio-item-img">
                    <a href="#"><img src="<%= assets %>/img/p_agm.png" alt="" class="img-responsive wow fadeInUp"></a>
                </div>
                <div class="portfolio-item-info">
                    <h3 class="portfolio-item-title">AGM Studio - Web Personal</h3>
                    <p>Tema web que combina colores blancos y negros creado con Bootstrap, SASS, Gulp, Bower. Es la plantilla web actual de este sitio.</p>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="portfolio-item-tags">
                                <h5 class="color-primary">Tecnologías</h5>
                                <span class="portfolio-item-tag tag-bootstrap">Bootstrap</span>
                                <span class="portfolio-item-tag tag-sass">Sass</span>
                                <span class="portfolio-item-tag tag-gulp">Gulp</span>
                                <span class="portfolio-item-tag tag-bower">Bower</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="portfolio-item-license">
                                <h5 class="color-primary">Precio</h5>
                                <span class="free">Gratis</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item-btn-group">
                    <a href="http://agmstudio.io/"><i class="fa fa-desktop color-primary"></i> Vista Previa</a>
                    <a href="https://github.com/AGMStudio/agmstudio-frontend"><i class="fa fa-download color-primary"></i> Obtener</a>
                </div>
            </div> <!-- portfolio-item -->
        </div> <!-- col-md-6 -->
        <div class="col-md-6">
            <div class="portfolio-item">
                <div class="portfolio-item-img">
                    <a href="#"><img src="<%= assets %>/img/p_ar.png" alt="" class="img-responsive wow fadeInUp animation-delay-3"></a>
                </div>
                <div class="portfolio-item-info">
                    <h3 class="portfolio-item-title">Artificial Reason - Responsive Full Pack</h3>
                    <p>Plantilla elegante corporativa con color principal y cabeceras modificables. Cuenta con más de 3700 ventas en WrapBootstrap.</p>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="portfolio-item-tags">
                                <h5 class="color-primary">Tecnologías</h5>
                                <span class="portfolio-item-tag tag-bootstrap">Bootstrap</span>
                                <span class="portfolio-item-tag tag-less">Less</span>
                                <span class="portfolio-item-tag tag-gulp">Gulp</span>
                                <span class="portfolio-item-tag tag-grunt">Grunt</span>
                                <span class="portfolio-item-tag tag-bower">Bower</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="portfolio-item-license">
                                <h5 class="color-primary">Precio</h5>
                                <span>$ 16</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item-btn-group">
                    <a href="http://razonartificial.com/themes/reason/v1.4.7/"><i class="fa fa-desktop color-primary"></i> Vista Previa</a>
                    <a href="https://wrapbootstrap.com/theme/artificial-reason-responsive-full-pack-WB0307B17"><i class="fa fa-download color-primary"></i> Obtener</a>
                </div>
            </div> <!-- portfolio-item -->
        </div> <!-- col-md-6 -->
        <div class="col-md-6">
            <div class="portfolio-item">
                <div class="portfolio-item-img">
                    <a href="#"><img src="<%= assets %>/img/p_arwp.png" alt="" class="img-responsive wow fadeInUp"></a>
                </div>
                <div class="portfolio-item-info">
                    <h3 class="portfolio-item-title">Artificial Reason - WordPress Edition</h3>
                    <p>Versión Wordpress del famoso tema Artificial Reason. Altamente configurable. Uno de los temas Wordpress más vendidos en WrapBootstrap.</p>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="portfolio-item-tags">
                                <h5 class="color-primary">Tecnologías</h5>
                                <span class="portfolio-item-tag tag-bootstrap">Bootstrap</span>
                                <span class="portfolio-item-tag tag-wp">Wordpress</span>
                                <span class="portfolio-item-tag tag-less">Less</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="portfolio-item-license">
                                <h5 class="color-primary">Precio</h5>
                                <span>$ 28</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item-btn-group">
                    <a href="http://razonartificial.com/themes/reason-wp/"><i class="fa fa-desktop color-primary"></i> Vista Previa</a>
                    <a href="https://wrapbootstrap.com/theme/artificial-reason-wordpress-edition-WB07KB22N"><i class="fa fa-download color-primary"></i> Obtener</a>
                </div>
            </div> <!-- portfolio-item -->
        </div> <!-- col-md-6 -->
        <div class="col-md-6">
            <div class="portfolio-item">
                <div class="portfolio-item-img">
                    <a href="#"><img src="<%= assets %>/img/p_om.png" alt="" class="img-responsive wow fadeInUp animation-delay-3"></a>
                </div>
                <div class="portfolio-item-info">
                    <h3 class="portfolio-item-title">Open Mind - Customizable Template</h3>
                    <p>Plantilla corporativa con varias combinaciones de colores disponibles. Tema realizado con CSS puto y Bootstrap. Totalmente responsive.</p>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="portfolio-item-tags">
                                <h5 class="color-primary">Tecnologías</h5>
                                <span class="portfolio-item-tag tag-bootstrap">Bootstrap</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="portfolio-item-license">
                                <h5 class="color-primary">Precio</h5>
                                <span>$ 14</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item-btn-group">
                    <a href="http://razonartificial.com/openmind/"><i class="fa fa-desktop color-primary"></i> Vista Previa</a>
                    <a href="https://wrapbootstrap.com/theme/open-mind-customizable-template-WB0410L74"><i class="fa fa-download color-primary"></i> Obtener</a>
                </div>
            </div> <!-- portfolio-item -->
        </div> <!-- col-md-6 -->
        <div class="col-md-6">
            <div class="portfolio-item">
                <div class="portfolio-item-img">
                    <a href="#"><img src="<%= assets %>/img/p_omwp.png" alt="" class="img-responsive wow fadeInUp"></a>
                </div>
                <div class="portfolio-item-info">
                    <h3 class="portfolio-item-title">Open Mind - Wordpress Edition</h3>
                    <p>Versión Wordpress te la plantilla HTML Open Mind. Trae panel de configuración. Muy personalizable. No es necesario utilizar código.</p>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="portfolio-item-tags">
                                <h5 class="color-primary">Tecnologías</h5>
                                <span class="portfolio-item-tag tag-bootstrap">Bootstrap</span>
                                <span class="portfolio-item-tag tag-wp">Wordpress</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="portfolio-item-license">
                                <h5 class="color-primary">Precio</h5>
                                <span>$ 28</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item-btn-group">
                    <a href="http://razonartificial.com/themes/openmind/wordpress/"><i class="fa fa-desktop color-primary"></i> Vista Previa</a>
                    <a href="https://wrapbootstrap.com/theme/open-mind-wordpress-customizable-theme-WB04B3330"><i class="fa fa-download color-primary"></i> Obtener</a>
                </div>
            </div> <!-- portfolio-item -->
        </div> <!-- col-md-6 -->
        <div class="col-md-6">
            <div class="portfolio-item">
                <div class="portfolio-item-img">
                    <a href="#"><img src="<%= assets %>/img/p_cc.png" alt="" class="img-responsive wow fadeInUp animation-delay-3"></a>
                </div>
                <div class="portfolio-item-info">
                    <h3 class="portfolio-item-title">Clean Concept - Colorize Theme</h3>
                    <p>Plantilla web con gran variedad de colores disponibles. Para webs minimalistas y que quieran tener un aspecto limpio y ordenado.</p>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="portfolio-item-tags">
                                <h5 class="color-primary">Tecnologías</h5>
                                <span class="portfolio-item-tag tag-bootstrap">Bootstrap</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="portfolio-item-license">
                                <h5 class="color-primary">Precio</h5>
                                <span>$ 12</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item-btn-group">
                    <a href="http://razonartificial.com/simple/"><i class="fa fa-desktop color-primary"></i> Vista Previa</a>
                    <a href="https://wrapbootstrap.com/theme/clean-concept-colorize-theme-WB0R48JC2"><i class="fa fa-download color-primary"></i> Obtener</a>
                </div>
            </div> <!-- portfolio-item -->
        </div> <!-- col-md-6 -->
        <div class="col-md-6">
            <div class="portfolio-item">
                <div class="portfolio-item-img">
                    <a href="#"><img src="<%= assets %>/img/p_e.png" alt="" class="img-responsive wow fadeInUp"></a>
                </div>
                <div class="portfolio-item-info">
                    <h3 class="portfolio-item-title">Elementary - One Page Elegant Theme</h3>
                    <p>Plantilla de una sola página con barra lateral fija y tema semi-transparente. Ideal para páginas personales y portafolios.</p>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="portfolio-item-tags">
                                <h5 class="color-primary">Tecnologías</h5>
                                <span class="portfolio-item-tag tag-bootstrap">Bootstrap</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="portfolio-item-license">
                                <h5 class="color-primary">Precio</h5>
                                <span>$ 9</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item-btn-group">
                    <a href="http://razonartificial.com/elementary/"><i class="fa fa-desktop color-primary"></i> Vista Previa</a>
                    <a href="https://wrapbootstrap.com/theme/elementary-one-page-elegant-theme-WB0NLS2G7"><i class="fa fa-download color-primary"></i> Obtener</a>
                </div>
            </div> <!-- portfolio-item -->
        </div> <!-- col-md-6 -->
        <div class="col-md-6">
            <div class="portfolio-item">
                <div class="portfolio-item-img">
                    <a href="#"><img src="<%= assets %>/img/p_rl.png" alt="" class="img-responsive wow fadeInUp animation-delay-3"></a>
                </div>
                <div class="portfolio-item-info">
                    <h3 class="portfolio-item-title">Robotic Lab - Responsive Theme</h3>
                    <p>Plantilla con estilo futurista para Bootstrap. Combina los toques azul fuerte con blancos y grises.</p>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="portfolio-item-tags">
                                <h5 class="color-primary">Tecnologías</h5>
                                <span class="portfolio-item-tag tag-bootstrap">Bootstrap</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="portfolio-item-license">
                                <h5 class="color-primary">Precio</h5>
                                <span>$ 12</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item-btn-group">
                    <a href="http://razonartificial.com/robotic/"><i class="fa fa-desktop color-primary"></i> Vista Previa</a>
                    <a href="https://wrapbootstrap.com/theme/robotic-lab-responsive-theme-WB01D019C"><i class="fa fa-download color-primary"></i> Obtener</a>
                </div>
            </div> <!-- portfolio-item -->
        </div> <!-- col-md-6 -->
    </div> <!-- row -->
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
