<!-- build:include layout/header.html --><!-- /build -->

<div class="header-page">
    <div class="container">
        <h2 class="header-title">Portafolio</h2>

        <ol class="breadcrumb">
            <li><a href="#">Inicio</a></li>
            <li class="active">Portafolio</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="grid">
                <figure class="effect-jazz">
                    <img src="<%= assets %>/img/ar.png" alt="" class="img-responsive">
                    <figcaption>
                        <a href="javascript:void(0)" class="effect-jazz-focus">
                            <h2>Artificial <span>Reason</span></h2>
                            <p>Plantilla para uso personal y profesional. Añadiendo novedades continuamente.</p>
                            <p class="info"><span class="sales" alt="3577 Ventas"><i class="fa fa-opencart"></i> 3577</span> <span class="price"><i class="fa fa-usd"></i> 16</span></p>
                            <div class="portfolio-btn">
                                <a href="#" class="btn btn-primary"><i class="fa fa-desktop"></i> Vista previa</a>
                                <a href="#" class="btn btn-success"><i class="fa fa-shopping-bag"></i> Comprar</a>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- col-md-6 -->
        <div class="col-md-6">
            <div class="grid">
                <figure class="effect-jazz">
                    <img src="<%= assets %>/img/ar.png" alt="" class="img-responsive">
                    <figcaption>
                        <a href="javascript:void(0)" class="effect-jazz-focus">
                            <h2>Artificial <span>Reason</span></h2>
                            <p>Plantilla para uso personal y profesional. Añadiendo novedades continuamente.</p>
                            <p class="info"><span class="sales" alt="3577 Ventas"><i class="fa fa-opencart"></i> 3577</span> <span class="price"><i class="fa fa-usd"></i> 16</span></p>
                            <div class="portfolio-btn">
                                <a href="#" class="btn btn-primary"><i class="fa fa-desktop"></i> Vista previa</a>
                                <a href="#" class="btn btn-success"><i class="fa fa-shopping-bag"></i> Comprar</a>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- col-md-6 -->
        <div class="col-md-6">
            <div class="grid">
                <figure class="effect-jazz">
                    <img src="<%= assets %>/img/ar.png" alt="" class="img-responsive">
                    <figcaption>
                        <a href="javascript:void(0)" class="effect-jazz-focus">
                            <h2>Artificial <span>Reason</span></h2>
                            <p>Plantilla para uso personal y profesional. Añadiendo novedades continuamente.</p>
                            <p class="info"><span class="sales" alt="3577 Ventas"><i class="fa fa-opencart"></i> 3577</span> <span class="price"><i class="fa fa-usd"></i> 16</span></p>
                            <div class="portfolio-btn">
                                <a href="#" class="btn btn-primary"><i class="fa fa-desktop"></i> Vista previa</a>
                                <a href="#" class="btn btn-success"><i class="fa fa-shopping-bag"></i> Comprar</a>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- col-md-6 -->
        <div class="col-md-6">
            <div class="grid">
                <figure class="effect-jazz">
                    <img src="<%= assets %>/img/ar.png" alt="" class="img-responsive">
                    <figcaption>
                        <a href="javascript:void(0)" class="effect-jazz-focus">
                            <h2>Artificial <span>Reason</span></h2>
                            <p>Plantilla para uso personal y profesional. Añadiendo novedades continuamente.</p>
                            <p class="info"><span class="sales" alt="3577 Ventas"><i class="fa fa-opencart"></i> 3577</span> <span class="price"><i class="fa fa-usd"></i> 16</span></p>
                            <div class="portfolio-btn">
                                <a href="#" class="btn btn-primary"><i class="fa fa-desktop"></i> Vista previa</a>
                                <a href="#" class="btn btn-success"><i class="fa fa-shopping-bag"></i> Comprar</a>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- col-md-6 -->
        <div class="col-md-6">
            <div class="grid">
                <figure class="effect-jazz">
                    <img src="<%= assets %>/img/ar.png" alt="" class="img-responsive">
                    <figcaption>
                        <a href="javascript:void(0)" class="effect-jazz-focus">
                            <h2>Artificial <span>Reason</span></h2>
                            <p>Plantilla para uso personal y profesional. Añadiendo novedades continuamente.</p>
                            <p class="info"><span class="sales" alt="3577 Ventas"><i class="fa fa-opencart"></i> 3577</span> <span class="price"><i class="fa fa-usd"></i> 16</span></p>
                            <div class="portfolio-btn">
                                <a href="#" class="btn btn-primary"><i class="fa fa-desktop"></i> Vista previa</a>
                                <a href="#" class="btn btn-success"><i class="fa fa-shopping-bag"></i> Comprar</a>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- col-md-6 -->
        <div class="col-md-6">
            <div class="grid">
                <figure class="effect-jazz">
                    <img src="<%= assets %>/img/ar.png" alt="" class="img-responsive">
                    <figcaption>
                        <a href="javascript:void(0)" class="effect-jazz-focus">
                            <h2>Artificial <span>Reason</span></h2>
                            <p>Plantilla para uso personal y profesional. Añadiendo novedades continuamente.</p>
                            <p class="info"><span class="sales" alt="3577 Ventas"><i class="fa fa-opencart"></i> 3577</span> <span class="price"><i class="fa fa-usd"></i> 16</span></p>
                            <div class="portfolio-btn">
                                <a href="#" class="btn btn-primary"><i class="fa fa-desktop"></i> Vista previa</a>
                                <a href="#" class="btn btn-success"><i class="fa fa-shopping-bag"></i> Comprar</a>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- col-md-6 -->
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
