/* --------------------------------------------------------------------------*/
/* AGM Navbar
/* --------------------------------------------------------------------------*/

.agm-navbar
{
    height: 90px;
    margin-bottom: 0;

    background-color: $color-dark;

    .navbar-header
    {
        .navbar-toggle
        {
            min-width: 44px;
            min-height: 44px;

            color: #fff;
            border-radius: 0;
            background-color: $color-primary;
        }

        .navbar-title
        {
            display: inline-block;


            .navbar-brand
            {
                display: inline-block;
                float: none;

                margin-top: 15px;
                margin-bottom: -10px;
                margin-left: 0;
                padding: 0;

                word-spacing: -6px;

                color: $color-primary;

                font-family: 'Oswald', sans-serif;
                font-size: 37px;
                font-weight: bold;
                line-height: 100%;


                span
                {
                    color: $color-light;
                }
            }

            #slogan
            {
                display: block;

                margin: 0;

                letter-spacing: 0.3px;

                color: lighten($color-medium, 25);

                font-family: 'Open Sans Condensed', sans-serif;
                font-size: 18px;
                font-weight: 300;;
            }
        }
    }

    .navbar-nav
    {
        & > li
        {
            & > a
            {
                min-width: 100px;
                height: 90px;
                margin: 0;
                padding: 15px 10px 0 10px;

                transition: all .1s ease;
                text-align: center;
                letter-spacing: .05em;
                text-transform: uppercase;

                color: $color-light;

                font-family: 'Oswald', sans-serif;
                font-size: 1.1em;
                font-weight: 400;


                .menu-icon
                {
                    display: block;

                    margin-bottom: 10px;

                    font-size: 1.6em;
                }

                &:hover,
                &:focus,
                &:active
                {
                    background-color: $color-primary;
                }
            }

            &.active a
            {
                background-color: $color-primary;
            }

            & > .dropdown-menu
            {
                border-color: $color-dark;
                border-top: solid 1px lighten($color-dark, 4%);
                border-radius: 0;
                background-color: darken($color-dark, 4%);
                box-shadow: none;


                & > li
                {
                    & > a
                    {
                        padding-top: 8px;
                        padding-bottom: 8px;

                        transition: all .1s ease;

                        color: $color-light;
                    }

                    & > a:hover,
                    & > a:focus
                    {
                        background-color: $color-primary;
                    }
                }
            }
        }

        & > li.dropdown.open
        {
            & > a
            {
                background-color: $color-primary;
            }
        }

        & > li.dropdown
        {
            & > a::after
            {
                position: absolute;
                bottom: 0;
                left: 48%;

                display: inline-block;

                content: '\f107';

                font-family: FontAwesome;
                font-size: 11px;
                font-weight: normal;
            }
        }
    } /* .navbar-nav */

    &.shrink
    {
        height: 50px;

        box-shadow: 0 0 1px 0 rgba(0,0,0,.2);

        .navbar-nav
        {
            & > li
            {
                & > a
                {
                    height: 50px;
                    padding-bottom: 0;

                    .menu-icon
                    {
                        display: none;
                    }
                }
            }
        }

        .navbar-header
        {
            .navbar-title
            {
                .navbar-brand
                {
                    margin-top: 10px;
                    word-spacing: -4px;
                    font-size: 28px;
                }

                #slogan
                {
                    display: none;
                }
            }
        }
    }
} /* .agm-navbar */

.dropdown-menu {
    padding: 0;

    border: 0;
}

.dropdown-menu.dropdown-megamenu {
    background-color: transparent !important;
}

.yamm-content {
    padding: 0;

    color: $color-light;
    border: solid 1px lighten($color-dark, 4%);
    background-color: darken($color-dark, 4%);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 5px;
    left: 100%;

    margin-top: -6px;
    margin-left: -1px;

    color: $color-light;
    background-color: $color-dark;
    box-shadow: none;
    a {
        padding: 5px 15px;

        color: $color-light;
        &:hover,
        &:focus,
        &:active {
            color: $color-light;
            background-color: $color-primary;
        }
    }
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    float: right;

    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;

    content: ' ';

    border-width: 5px 0 5px 5px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #ccc;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;

    margin-left: 10px;
}
