
.panel {
    box-shadow: none;
    border: none;
    border-radius: 0;

    &.panel-primary {
        .panel-heading {
            background-color: $color-primary;
            border: none;
        }

        .panel-body  {
            border: solid 1px $color-border;
            border-top: 0;
        }
    }

    &.panel-white {
        background-color: #fff;
        border: solid 1px $color-border;
    }

    .panel-heading-link {
        padding: 0;
        margin: 0;
        background: none;
        border: none;
        position: relative;

        a {
            display: block;
            background-color: $color-light;
            border: solid 1px $color-border;
            padding: 5px 15px;
            color: $color-dark;

            &:after {
                font-family: 'FontAwesome';
                content: "\f107";
                font-size: 1.2em;
                float: right;
                background-color: $color-light-alt;
                color: $color-dark;
                padding: 5px 0px;
                margin-top: -5px;
                margin-right: -15px;
                width: 33px;
                text-align: center;
                border-left: solid 1px $color-border;
            }

            &.collapsed:after {
                content: "\f104";
            }

            i {
                margin-right: 5px;
            }
        }
    }

    .panel-collapse {
        border: solid 1px $color-border;
        border-top: none;
        background-color: lighten($color-light, 2%);

        p:last-child {
            margin-bottom: 0;
        }
    }

    .panel-heading {
        & > i {
            margin-right: 0.5rem;
        }
    }
}

.panel-dark {
    background-color: lighten($color-dark, 3%);
    color: $color-light-alt;

    .panel-heading {
        background-color: $color-dark;
        position: relative;

        .timeline-type {
            position: absolute;
            right: 6rem;
            top: 1rem;
            font-size: 1.3rem;
        }

        .panel-heading-plus {
            color: #fff;
            display: inline-block;
            position: absolute;
            right: 1.5rem;
            font-size: 2rem;
            background-color: lighten($color-dark, 8%);
            border-radius: 100rem;
            width: 2.6rem;
            height: 2.6rem;
            text-align: center;
            transition: all ease 0.5s;

            &:after {
                content: "_";
                display: block;
                margin-top: -1rem;
                font-weight: 600;
            }

            &:hover {
                background-color: $color-primary
            }
        }

        .panel-heading-plus.collapsed {
            &:after {
                content: "+";
                margin-top: 0;
            }
        }

        &.arrow-left::after {
            content: "";
            position: absolute;
            left: -0.8rem;
            top: 1.8rem;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6.5px 8px 6.5px 0;
            border-color: transparent $color-dark transparent transparent;
        }
    }



    .panel-heading-link {
        a {
            background-color: $color-dark;
            color: $color-light;
            border: $color-dark;

            &:after {
                background-color: $color-primary;
                border: none;
                color: $color-light;
            }
        }
    }

    .panel-collapse {
        border: solid 1px $color-dark;
        border-top: none;
        color: $color-light;
        background-color: lighten($color-dark, 5%);;
    }
}
