$color-dark: #353839;
$color-dark-light: #464b4c;
$color-medium: #72797b;
$color-border: #dfe1e2;
$color-light-alt: #f2f4f5;
$color-light: #f8fafb;

$color-primary: #0099da;
$color-success: #00cc9a;
$color-info: #29bad4;
$color-warning: #deb700;
$color-danger: #d34028;
$color-royal: #d03b73;

$color-success-alt: #00fea7;


/* Social Colors */
$twitter-color: #00aced;
$googleplus-color: #dd4b39;
$rss-color: #ef922f;
$facebook-color: #3b5998;
$youtube-color: #bb0000;
$linkedin-color: #007bb6;
$instagram-color: #517fa4;
$pinterest-color: #cb2027;
$wordpress-color: #4597be;
$git-color: #f54c27;
$github-color: #333;
$flickr-color: #ff0084;
$stack-overflow-color: #bbb;
$vine-color: #00b48a;
$dribbble-color: #f26798;
$foursquare-color : #0072b1;
$tumblr-color: #32506d;

// Tools Colors
$gulp-color: #cf4646;
$grunt-color: #e48632;
$less-color: #1d365d;
$sass-color: #c6538c;


// Spacing
$vertical-margin: 20px;
$vertical-margin-lg: 40px;
$vertical-margin-sm: 10px;
