.blog-post {
    padding: 4rem 3rem;
    border-bottom: solid 1px $color-border;

    .post-img {
        padding-right: 2rem;
    }

    .post-content {

        .post-title {
            margin: -6px 0 10px 0;
            font-size: 2.52rem;
            line-height: 36px;

            a {
                color: $color-dark;
                transition: all 0.3s;

                &:hover {
                    color: $color-primary;
                }
            }
        }

        p {
            margin-bottom: 3.3rem;
        }
    }

    &:last-child {
        border: none;
    }
}

.post-info {

    .post-date {
        //display: inline-block;
        text-align: center;
        font-size: 1.2rem;
        background-color: $color-light-alt;
        border: solid 1px $color-border;
        border-radius: 3px;
        padding: 0.7rem 1rem;

        i {
            margin: 0 5px 0 0;
            font-size: 1.3em;
        }
    }

    .post-category {
        text-transform: uppercase;
        padding: 0.8rem 1rem;
        line-height: 2.52rem;
        margin: 0 auto;
        font-size: 1.2rem;
        border: none;
    }

    .post-readmore {
        padding: 1rem;
        position: relative;
        text-align: left;
        padding-left: 1.5rem;
        transition: all ease 0.5s;

        &:after {
            position: absolute;
            content: "\f101";
            font-family: FontAwesome;
            right: 0px;
            background-color: rgba(0, 0, 0, 0.2);
            //border-radius: 3px;
            border-left: solid 1px rgba(0, 0, 0, 0.2);
            text-align: center;
            top: 0px;
            bottom: 0px;
            padding-top: 0.8rem;
            font-size: 1.6rem;
            width: 4rem;
            transition: all ease 0.5s;
        }

        &:hover {
            &:after {
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.blog-widget {
    margin-bottom: 4rem;

    .blog-widget-search {
        min-height: 5rem;

        input {
            min-height: 5rem;
            border-color: $color-border;
            box-shadow: none;

            &:focus {
                border-color: darken($color-border, 5%) !important;
            }
        }

        .btn {
            min-height: 5rem;
            min-width: 5rem;
            border-radius: 0;
            background-color: $color-border;
            color: $color-medium;
            text-align: center;

            i {
                margin-left: 0.4rem;
                font-size: 1.6rem;
            }
        }
    }

    .blog-widget-title {
        background-color: $color-dark;

        .nav-tabs {
            border-bottom: none;

            li {
                width: 33.33333%;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 1.1rem;
                margin: 0;

                a {
                    border-radius: 0;
                    border: 0;
                    margin: 0;
                    color: $color-medium;
                    transition: all ease 0.5s;
                    padding: 1.8rem 0;

                    &:hover,
                    &:focus {
                        background-color: transparent;
                        color: $color-light;
                    }

                    i {
                        margin-right: 0.5rem;
                    }
                }

                &.active {
                    a {
                        background-color: transparent;
                        color: #fff;

                        i {
                            color: $color-primary;
                        }

                        &:hover {
                            background-color: transparent;
                            color: $color-light;
                        }
                    }
                }
            }
        }
    }

    .tab-content {
        //background-color: #fff;
        background-color: lighten($color-dark, 3%);
        color: #fff;
        padding: 20px;
        //border: solid 1px $color-border;
        border-top: 0;
    }

    .widget-popular {
        .popular-post {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }

            .popular-title {
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 2.2rem;

                a {
                    color: $color-light;
                    transition: all ease 0.5s;

                    &:hover {
                        color: $color-success;
                    }
                }
            }

            .popular-date {
                display: inline-block;
                //background-color: $color-light;
                text-transform: uppercase;
                font-size: 1.1rem;
                //border: 1px solid $color-border;
                padding: 0 5px;

                i {
                    margin-right: 0.5rem;
                }
            }

            .popular-category {
                text-transform: uppercase;
                font-size: 1.1rem;
                //color: #fff;
                display: inline-block;
                padding: 0 0.5rem;
                border-radius: 3px;

                &.programacion {
                    color: $color-info;
                }
                &.recursos {
                    color: $color-royal;
                }
                &.diseno {
                    color: $color-warning;
                }

                &.general {
                    color: $color-success;
                }
            }
        }
    }
}

.blog-categories {
    li {
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }


        a {
            display: block;
            color: #fff;
            padding: 1.4rem 1.5rem;
            border: solid 1px;
            transition: all ease 0.5s;

        }
    }

    .general {
        a {
            border-color: $color-success;
            color: $color-success;

            &:hover {
                background-color: $color-success;
                color: #fff;
            }
        }
    }

    .diseno {
        a {
            border-color: $color-royal;
            color: $color-royal;

            &:hover {
                background-color: $color-royal;
                color: #fff;
            }
        }
    }

    .programacion {
        a {
            border-color: $color-info;
            color: $color-info;

            &:hover {
                background-color: $color-info;
                color: #fff;
            }
        }
    }

    .recursos {
        a {
            border-color: $color-warning;
            color: $color-warning;

            &:hover {
                background-color: $color-warning;
                color: #fff;
            }
        }
    }
}

.blog-cloudtags {
    min-height: 27.5rem;

    a {
        color: $color-light-alt;
        display: inline-block;
        border: solid 1px $color-medium;
        border-radius: 2px;
        padding: 0.1rem 0.5rem;
        margin: 0.5rem 0.3rem;
        font-size: 1.1rem;
        text-transform: uppercase;
        transition: all ease 0.5s;

        span {
            border-left: solid 1px $color-medium;
            margin: -0.2rem 0 -0.2rem 0.4rem;
            display: inline-block;
            padding-left: 0.7rem;
        }

        &:hover {
            background-color: $color-primary;
            border-color: $color-primary;

            span {
                border-color: darken($color-primary, 5%)
            }
        }
    }
}

.widget-book {
    .widget-book-img {
        background-color: $color-warning;
        transition: all ease 4s;


        img {
            transition: all ease 1s;
            transform: translateY(1rem);
            margin: 0 auto;

            &:hover {
                transform: translateY(0px);
            }
        }

        &:hover {
            background-color: $color-info;
        }
    }

    .widget-book-content {
        background-color: #fff;
        border: solid 1px $color-border;
        padding: 2rem;
        position: relative;
        z-index: 1;
        text-align: center;

        h4 {
            color: $color-danger;

            a {
                color: $color-danger;
            }
        }

        h5 {
            font-size: 1.6rem;
            color: $color-primary;
            text-align: center;
            margin-bottom: 2rem;
        }

        a {
            //text-align: right;
        }
    }
}

.post {
    padding: 4rem;

    .post-title  {
        margin: 0 0 2rem 0;
        line-height: 4rem;
    }

    span {
        margin-right: 2rem;

        i {
            margin-right: 0.5rem;
        }
    }

    .post-single-info {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
}
