.panel {
    &.panel-container {
        border: solid 1px $color-border;
        border-radius: 0;

        .blog-post {
            padding: 40px 30px;
            border-bottom: solid 1px $color-border;

            .post-img {
                padding-right: 20px;
            }

            .post-content {

                .post-title {
                    margin: -6px 0 10px 0;
                    font-size: 1.8em;
                    line-height: 36px;

                    a {
                        color: $color-dark;
                    }
                }

                p {
                    margin-bottom: 33px;
                }



            }

            &:last-child {
                border: none;
            }
        }

        .post-info {

            .post-date {
                //display: inline-block;
                text-align: center;
                font-size: 12px;
                background-color: $color-light-alt;
                border: solid 1px $color-border;
                border-radius: 3px;
                padding: 7px 10px;

                i {
                    margin: 0 5px 0 0;
                    font-size: 1.3em;
                }
            }

            .post-category {
                display: block;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                padding: 8px 10px;
                border-radius: 3px;
                margin: 0 auto;
                //display: inline-block;
                font-size: 12px;
                transition: all ease 0.5s;

                &.programacion {
                    background-color: $color-info;

                    &:hover {
                        background-color: darken($color-info, 10%);
                    }
                }

                &.diseno {
                    background-color: $color-warning;

                    &:hover {
                        background-color: darken($color-warning, 10%);
                    }
                }

                &.recursos {
                    background-color: $color-royal;

                    &:hover {
                        background-color: darken($color-royal, 10%);
                    }
                }

                &.general {
                    background-color: $color-success;

                    &:hover {
                        background-color: darken($color-success, 10%);
                    }
                }
            }

            .post-readmore {
                padding: 10px 10px;
                position: relative;
                text-align: left;
                padding-left: 15px;
                transition: all ease 0.5s;

                &:after {
                    position: absolute;
                    content: "\f101";
                    font-family: FontAwesome;
                    right: 0px;
                    background-color: rgba(0, 0, 0, 0.2);
                    //border-radius: 3px;
                    border-left: solid 1px rgba(0, 0, 0, 0.2);
                    text-align: center;
                    top: 0px;
                    bottom: 0px;
                    padding-top: 8px;
                    font-size: 1.2em;
                    width: 40px;
                    transition: all ease 0.5s;
                }

                &:hover {
                    &:after {
                        background-color: rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }
}
