.book-entry {
    .panel-body {
        padding: 0;

        .book-cover {
            padding: 2rem;
            background-color: $color-warning;
            overflow: hidden;
            transition: 2s;

            &:hover {
                background-color: $color-info;
            }

            img {
                box-shadow: 1px 0 8px #000;
                margin: 0 auto;
            }
        }

        .book-info {
            padding: 3rem 5rem 3rem 3rem ;

            & > *:first-child {
                margin-top: 0;
                padding-top: 0;
            }

            .book-title {
                padding-bottom: 1rem;
                margin-bottom: 2rem;
                border-bottom: solid 1px $color-border;
            }

            .book-buttons {
                margin-top: 40px;

                a {
                    vertical-align: top;
                }
            }
        }
    }
}

.feature-list {
    list-style-type: none;
    padding: 0;

    li {
        font-size: 1.6rem;
        margin-bottom: 1.4rem;

        &:before {
            font-family: 'fontAwesome';
            font-size: 2rem;
            content: "\f105";
            color: $color-primary;
            margin-right: 1.4rem;
        }
    }
}
