
.portfolio-item {

}

/* *, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; } // required */
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	list-style: none;
	//text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	//float: left;
	overflow: hidden;
	//height: auto;
	//background: #000;
	//text-align: center;
	//cursor: pointer;
    margin-bottom: 40px;
}

.grid figure img {
	position: relative;
    width: 100%;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

    .info {
        margin-top: 1rem;
        line-height: 1;
        font-size: 1.2rem;

        .sales {
            color: $color-success;
            padding: .7rem;
            background-color: rgba(0, 0, 0, 0.3);
            border: solid 1px rgba(255, 255, 255, 0.2);
        }
    }
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */

.grid figure h2 {
    text-transform: uppercase;
	word-spacing: -0.15em;
	font-weight: 300;
    color: #fff;
}

.grid figure h2 span {
	font-weight: 400;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Jazz *****/
/*---------------*/

figure.effect-jazz {
	background: -webkit-linear-gradient(-45deg, $color-dark 0%,$color-dark 100%);
	background: linear-gradient(-45deg, $color-dark 0%,$color-dark 100%);
    border: solid 1px $color-border;
}

figure.effect-jazz img {
	opacity: 1;
}

figure.effect-jazz figcaption::after,
figure.effect-jazz img,
figure.effect-jazz p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-jazz .portfolio-btn {
    position: absolute;
    right: 5%;
    bottom: 5%;
    display: inline-block;

    .btn {
        margin-left: 10px;
    }
}

figure.effect-jazz a.btn {

	border-radius: 0;

    &.btn-primary {
        background-color: fade-out($color-primary, 0.5);
        border: solid 1px darken($color-primary, 15);

        &:hover {
            border-color: $color-primary;
        }
    }

    &.btn-success {
        background-color: fade-out($color-success, 0.5);
        border: solid 1px darken($color-success, 15);

        &:hover {
            border-color: $color-success;
        }
    }

}

figure.effect-jazz figcaption::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

figure.effect-jazz h2,
figure.effect-jazz p {
	opacity: 1;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
}

figure.effect-jazz h2 {
	padding-top: 5%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
    opacity: 0;
}

figure.effect-jazz p {
	padding-top: 0.5em;
    margin-right: 21%;
	text-transform: none;
	font-size: 0.8em;
	opacity: 0;
}

figure.effect-jazz a {
	opacity: 0;
}

figure.effect-jazz:hover img {
	opacity: 0.3;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-jazz:hover figcaption::after {
	opacity: 1;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

figure.effect-jazz:hover h2,
figure.effect-jazz:hover a,
figure.effect-jazz:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}
