<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
                minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>AGM Studio</title>
    <meta name="description" content="AGM Studio Template">

    <link rel="shortcut icon" href="<%= assets %>/img/favicon.png?v=2">

    <link rel="stylesheet" href="<%= assets %>/css/plugins.min.css">

    <!-- build:css:dist <%=assets%>/css/style.min.css -->
        <link rel="stylesheet" href="<%= assets %>/css/style.css">
    <!-- /build -->

    <!--[if lt IE 9]>
        <script src="<%= assets %>/js/html5shiv.min.js"></script>
        <script src="<%= assets %>/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
