<nav class="navbar agm-navbar yamm navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-title">
                <a class="navbar-brand animated fadeInDown animation-delay-1" href="index.html">
                    <!--<img src="holder.js/50x50" alt="">-->
                    AGM <span>Studio</span>
                </a>
                <span id="slogan" class="animated fadeInDown animation-delay-1">Desarrollo web profesional</span>
            </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" role="navigation">
                <li class="animated fadeIn animation-delay-2"><a href="index.html"><span class="menu-icon"><i class="fa fa-home"></i></span>Inicio</a></li>
                <li class="animated fadeIn animation-delay-3"><a href="blog.html"><span class="menu-icon"><i class="fa fa-pencil-square-o"></i></span>Blog</a></li>
                <li class="animated fadeIn animation-delay-4"><a href="portafolio.html"><span class="menu-icon"><i class="fa fa-desktop"></i></span>Portafolio</a></li>
                <li class="animated fadeIn animation-delay-5"><a href="libros.html"><span class="menu-icon"><i class="fa fa-book"></i></span>Libros</a></li>
                <li class="animated fadeIn animation-delay-6"><a href="acercade.html"><span class="menu-icon"><i class="fa fa-user"></i></span>Sobre mí</a></li>
                <li class="animated fadeIn animation-delay-7"><a href="contacto.html"><span class="menu-icon"><i class="fa fa-envelope-o"></i></span>Contacto</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
