/* --------------------------------------------------------------------------*/
/* Base
/* --------------------------------------------------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.8em;

    color: #666;
    background-color: $color-light;
}



/* --------------------------------------------------------------------------*/
/* Reset Styles
/* --------------------------------------------------------------------------*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

:focus {
    outline: none !important;
}

::-moz-focus-inner {
    border: 0 !important;
}

/* --------------------------------------------------------------------------*/
/* Helper classes
/* --------------------------------------------------------------------------*/

.no-margin {
    margin: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}


.margin-right-sm {
    margin-right: 5px;
}

.margin-left-sm {
    margin-left: 5px;
}

.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.right-line {
    position: relative;
    z-index: 1;

    overflow: hidden;

    margin: 30px 0;
    &:after {
        position: absolute;
        top: 55%;

        overflow: hidden;

        width: 100%;
        height: 1px;

        content: '\a0';

        border-left: solid 20px #fff;
        background-color: #ddd;
    }
}

.imgborder {
    padding: 5px;

    border: solid 1px #ddd;
}

.alignleft {
    float: left;

    margin: 0 10px 10px 0;
}

.alignright {
    float: right;

    margin: 0 0 10px 10px;
}

.aligncenter {
    display: block;

    margin: 10px auto;
}

.primary-color {
    color: $color-primary;
}

/* --------------------------------------------------------------------------*/
/* Bootstrap theme
/* --------------------------------------------------------------------------*/

.input-group {
    input[type='text'] {
        z-index: 0;
    }
}

.input-group-btn {
    .btn {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    &:hover,
    &:focus {
        z-index: 1;
    }
}



/* --------------------------------------------------------------------------*/
/* Header Page
/* --------------------------------------------------------------------------*/

.header-page {
    margin-bottom: 40px;
    padding: 28px 0 22px 0;

    border-bottom: solid 1px $color-border;
    background-color: $color-light-alt;
    .container {
        position: relative;
        .breadcrumb {
            position: absolute;
            right: 20px;

            display: inline-block;

            margin: 3px 0 0 0;
            padding: 0;

            vertical-align: top;

            border-radius: 0;
        }
    }
}

.header-title {
    font-size: 2em;
    line-height: 100%;

    display: inline-block;

    margin: 0;

    vertical-align: middle;
}

.site-name {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;

    color: $color-primary;
    strong {
        font-weight: 700;

        text-transform: capitalize;

        color: $color-dark;
    }
}

/* --------------------------------------------------------------------------*/
/* Home Page
/* --------------------------------------------------------------------------*/

.ag-hero {
    padding: 28px 0 22px 0;

    border-bottom: solid 1px $color-border;
    background-color: $color-light-alt;
    min-height: 400px;

    background-image: url('../img/bg_slider_black_left.png'),
    url('../img/bg_slider_black_right.png'),
    url('../img/bg_slider_blue_left.png'),
    url('../img/bg_slider_blue_right.png');
    background-repeat: no-repeat;
    background-position: left bottom, 100% bottom, left bottom, right bottom;

    transition: all ease 1s;

    &:hover {
        background-position: -2% 102%, 103% 103%, -2% 102%, 103% 103%;
    }

    .title {
        text-align: center;
        font-size: 30px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    .ag-hero-list {
        margin: 20px 0 0 15px;

        li {
            font-size: 16px;
            margin: 10px 0;
            line-height: 1.8em;
            list-style: none;
            list-style-position: outside;
            position:relative;

            strong {
                font-weight: 600;
            }
        }

        li::before {
            content: "\f105";
            font-family: FontAwesome;
            left:-25px;
            font-size: 1.4em;
            color: $color-success;
            position:absolute;
            top:0px;
        }
    }

    .ag-hero-buttons {
        margin-top: 40px;
        text-align: right;

        a {
            display: inline-block;
            vertical-align: top;
            margin-left: 20px;
        }
    }

    .ag-hero-img {
        margin: 0 0 -22px 0;
        position: relative;
        bottom: 0;
        vertical-align: bottom;

        img {
            margin: 0 auto;
        }
    }
}

.relative {
    position: relative;
    z-index: 1;
    padding-top: 40px;
    background-color: #fff;
}



/*.home-post-container {
    .home-post {
        display: table;
        margin-bottom: 20px;

        .home-post-date {
            display: table-cell;
            vertical-align: middle;
            padding: 0 25px 0 0;
            position: relative;


            &:after {
                height: 28px;
                width: 15px;
                background-image: url('../img/home_news.png');
                background-repeat: no-repeat;
                background-position: right center;
                position: absolute;
                right: -1px;
                top: 38%;
                content: ""
            }

            & > .day {
                display: block;
                font-weight: 600;
                font-size: 1.5em;
                color: $color-dark;
                text-align: center;
            }

            & > .month {
                display: block;
                text-align: center;
            }
        }

        .home-post-content {
            display: table-cell;
            background-color: $color-light;
            border: solid 1px $color-border;
            padding: 15px;

            &:hover {
                background-color: darken($color-light, 1%)
            }

            .home-post-title {
                font-size: 1.1em;
                margin: 0 0 8px 0;
            }

            p {
                font-size: @include 9em;
                margin: 0;
                line-height: 160%;
            }
        }
    }
}*/

.home-post {
    background-color: $color-light;
    .home-post-content {
        padding: 15px;

        border-right: solid 1px $color-border;
        border-bottom: solid 1px $color-border;
        border-left: solid 1px $color-border;
        .home-post-title {
            font-size: 1.3em;
            line-height: 1.4em;

            margin-top: 0;
        }
        p {
            font-size: 13.5px;
        }
    }
    .home-post-readmore {
        display: block;

        padding: 7px 0;

        text-align: center;

        color: darken($color-light-alt, 50%);
        border: solid 1px $color-border;
        background-color: $color-light-alt;
        &:hover {
            color: #fff;
            background-color: $color-primary;
        }
    }
}

/* --------------------------------------------------------------------------*/
/* Blog Page
/* --------------------------------------------------------------------------*/

.post {
    margin-bottom: 40px;
    padding: 20px;

    border: solid 1px $color-border;
    background-color: $color-light;
    .post-title {
        font-size: 1.5em;
        font-weight: 300;

        margin: 0 0 15px 0;
        padding-bottom: 5px;

        color: $color-primary;
        border-bottom: dotted 1px $color-border;
    }
    & > img {
        float: left;

        margin: 0 15px 15px 0;
        padding: 5px;

        border: solid 1px $color-border;
    }
    footer {
        overflow: hidden;

        margin: 25px -20px -20px -20px;
        padding: 8px 20px 7px 20px;

        border-top: solid 1px $color-border;
        background-color: $color-light-alt;
        .autor-post {
            img {
                width: 45px;
                height: 45px;
                margin-right: 10px;

                border-radius: 200px;
            }
        }
        .date-post {
            i {
                margin: 0 3px 0 10px;
            }
        }
        .footer-post-right {
            float: right;

            margin-top: 0;
            padding-top: 3px;
            .readmore-post {
                margin-left: 10px;

                vertical-align: top;
            }
            .social-post {
                display: inline-block;

                margin-top: 3px;
                a {
                    vertical-align: middle;
                }
            }
        }
    }
}

/* --------------------------------------------------------------------------*/
/* Single Page
/* --------------------------------------------------------------------------*/

.entry-info {
    font-size: .9em;

    margin-bottom: 15px;
    padding: 5px 15px;

    color: $color-light;
    border-radius: 2px;
    background-color: $color-dark;
    a {
        color: $color-light-alt;
        &:hover {
            color: $color-primary;
        }
    }
    .fa {
        margin-right: 5px;
        margin-left: 15px;
        &:first-child {
            margin-left: 0;
        }
    }
}

.entry-title {
    font-size: 28px;
}




/* --------------------------------------------------------------------------*/
/* Footer
/* --------------------------------------------------------------------------*/

#footer {
    margin-top: 30px;
    padding: 20px;

    text-align: center;

    color: #fff;
    background-color: $color-dark;
    a:hover {
        color: lighten($color-primary, 5%);
    }
    p {
        margin-bottom: 0;
    }
}


/* --------------------------------------------------------------------------*/
/* About us Page
/* --------------------------------------------------------------------------*/

.dark-layer {
    padding: 40px 0;

    background-color: rgba(0, 0, 0, .0);
}

.btn-layer {
    margin: 20px 0;
    .btn {
        margin: 0 10px;
    }
}

.wrap-build {
    font-weight: 300;

    background-image: url('../img/back_profile.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    h1 {
        font-size: 3em;

        color: #fff;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .75);
    }
    h2 {
        font-size: 1.7em;
        font-weight: 300;

        margin-bottom: 30px;

        color: #d2ff00;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .75);
    }
    .imgborder {
        margin-top: 20px;
        padding: 0;

        border: solid 10px rgba(255, 255, 255, .5);
        box-shadow: 0 0 7px rgba(0,0,0,.4);
    }
}

.social-nabvar {
    min-height: 60px;
    margin-bottom: 40px;

    background-color: $color-primary;
}

#profile-avatar {
    position: absolute;

    margin-top: 200px;
}


/*** --------- ***/

.section-primary {
    margin: 20px 0 0 0;
    padding: 60px;

    color: #fff;
    background-color: $color-primary;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }
    *:first-child {
        margin-top: 0;
    }
    *:last-child {
        margin-bottom: 0;
    }
}

.extra-fine {
    font-weight: 100;
    & > strong {
        font-weight: 300;
    }
}

.blog-home {
    border-bottom: solid 1px $color-border;
    background-color: $color-border;
}

/*.panel-dark {
    padding: 30px;

    color: #fff;
    background-color: $color-dark;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }

    h3 {
        font-variant: small-caps;

        margin-top: 0;
        padding-top: 0;

        color: $color-medium;
    }

    .media {
        h4 {
            font-size: 1.3em;
        }

        p {
            color: $color-border;
        }
    }
}*/

.dropdown-menu {
    padding: 0;

    border: 0;
}

.dropdown-menu.dropdown-megamenu {
    background-color: transparent !important;
}

.yamm-content {
    padding: 0;

    color: $color-light;
    border: solid 1px lighten($color-dark, 4%);
    background-color: darken($color-dark, 4%);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 5px;
    left: 100%;

    margin-top: -6px;
    margin-left: -1px;

    color: $color-light;
    background-color: $color-dark;
    box-shadow: none;
    a {
        padding: 5px 15px;

        color: $color-light;
        &:hover,
        &:focus,
        &:active {
            color: $color-light;
            background-color: $color-primary;
        }
    }
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    float: right;

    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;

    content: ' ';

    border-width: 5px 0 5px 5px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #ccc;
}



.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;

    margin-left: 10px;
}
