<div class="wow slideInUp">
    <div class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-4 col-sm-7">
                    <h3 class="footer-title">Navegación</h3>
                    <ul class="footer-list list-2-colums">
                        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Blog</a></li>
                        <li><a href="#"><i class="fa fa-desktop"></i> Portafolio</a></li>
                        <li><a href="#"><i class="fa fa-book"></i> Libros</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> Sobre mí</a></li>
                        <li><a href="#"><i class="fa fa-envelope-o"></i> Contacto</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-5">
                    <h3 class="footer-title">Redes Sociales</h3>
                    <ul class="footer-list footer-list-social">
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <br>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12">
                    <div class="footer-love">
                        <a href="#"><img src="<%= assets %>/img/avatar100.jpg" class="center-block" alt=""></a>
                        <p class="text-center"><span class="site-name site-name-light">
                            AGM<strong>Studio</strong></span> sitio web profesional de <a href="#">Adrián Guerra</a>.<br><i class="fa fa-code"></i> escrito con <i class="fa fa-heart"></i> y mucho  <i class="fa fa-coffee">.</i>  Alojado en <a href="#">Digital Ocean</a>.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <p>Copyright &copy; 2016 Adrián Guerra Marrero.</p>
        </div>
    </div>

</div>
