<div class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-title">Navegación</h3>
                <ul class="footer-list list-2-colums">
                    <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
                    <li><a href="#"><i class="fa fa-pencil-square-o"></i> Blog</a></li>
                    <li><a href="#"><i class="fa fa-desktop"></i> Portafolio</a></li>
                    <li><a href="#"><i class="fa fa-book"></i> Libros</a></li>
                    <li><a href="#"><i class="fa fa-user"></i> Sobre mí</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="footer-title">Navegación</h3>
            </div>
            <div class="col-md-4">
                <span class="footer-love">
                    <!-- <a href="#"><i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by adrigm</a> -->
                </span>
            </div>
        </div>
    </div>
</div>

<div class="footer-copyright">
    <div class="container">
        <p>Copyright &copy; 2016 Adrián Guerra Marrero.</p>
    </div>
</div>
